#block-model{
	background: pink;
	padding: 10px;
	margin:  30px;
	border: 2px solid maroon;
	border-radius: 5px;
	box-shadow: 0px 0px 10px lime;
}

#container{
	background: lightgreen;
	margin:  30px;
}

#body{
	background: gold;

}