@font-face{
	font-family:starwars;
	src:url(STARWARS.ttf); 
	
}
#starwars{
	font-family: starwars;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 10px lime, 10px 10px 10px lime, -10px -10px 10px lime;
	font-size: 5em;
	text-decoration: underline;
	background: linear-gradient(to bottom, gray, white, black);
	height: 100vh;
	
}

#bgimage{
	height: 100vh;
	background: url(foto.jpg);
}