* {
	color:blue;
}
#container p{
	color:lime!important;
}
#IMP{
	color:gold;
	font-weight:bold;
	font-style:italic;
	font-size:2em;
	font-size:small;
	font-size:large;
}
.link-test{
	color:red;
	direction:none;
}
.link-test:visited{
	color:green;
	text-decoration:underline;
}
.link-test:hover{
	color:black;
	text-decoration:underline;
}